<% layout('layout') -%>

<section id="page__index">

<h1><%= title %></h1>
<p><%= __('Welcome to')%>   <%= title %></p>
  <article>

  <% results.forEach(result=>{%>
  
      <div class="card">
        <img src="/<%= result.thumbnail%>" alt="">
        <div class="card__info">
          <div class="price"><p><%= result.precio %>€</p></div>
          <div class="name"><p><%=result.nombre%></p></div>
          <div class="tags">
            <span>Tags: </span>
            <%=result.tags%>
          </div>
          <div class="status text-center margin-top-small">
            <% if (result.venta) {%>
              <p class="text-primary"><%= __('For sale') %></p>
            <%}else{%>
            <p class="text-primary"><%= __('Searching') %></p>
              <%}%>
          </div>
        </div>
      </div>
    
  <%})%>
  </article>

</section>