<% layout('layout') -%>

<section id="page__login">


  <h1><%= __('Login') %></h1>

  <p><%= __('Please login to access') %></p>
  <article>

    <form  method="post" novalidate>
      <div class="fields">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" placeholder="Email" value="<%= email %>">
            <p class="error text-error"><%= __('Enter a valid email') %></p>
        </div>
        <div class="field">
          <label for="password"><%= __('Password') %></label>
          <input type="password" name="password" id="password" placeholder="<%= __('Password') %>" required>
            <p class="error text-error"><%= __('Required field') %></p>
        </div>
        <div class="field">
         <button type="submit" name="btnSubmit" id="btnSubmit" class="button button-primary"><%= __('Submit') %></button>
        </div>
      </div>
    </form>
    <p class="text-error"><%= error %></p>


  </article>

</section>

<script>
    /*=====================================================================
    Validación
    =======================================================================*/

    //variables
    const form = document.querySelector('form');
    const emailInput = document.getElementById("email");
    const passwordInput = document.getElementById("password");

    //validación
    form.addEventListener("submit", function(event) {

        var regex = /[A-Za-z0-9\.\+]+@[A-Za-z0-9]+\.[A-Za-z0-9\.]+/;
        var resultEmailValidation = regex.test(emailInput.value);
        var submitButton = document.getElementById("btnSubmit");


        checkError(resultEmailValidation === false,emailInput,event);
        checkError(passwordInput.checkValidity() === false,passwordInput,event);

        event.preventDefault();

        if (document.querySelector('input.error') == null) {
            submitButton.setAttribute("disabled", "");
            form.submit();
        }

    });

    function checkError(sentence,item,event){
        if (sentence) {
            item.focus();
            item.classList.add("error");
            event.preventDefault();
            return false;
        }
        item.classList.remove("error");
    }

</script>